.a{
    width: 900px;
    height: 630px;
    margin: 0 auto;
    background: url()no-repeat;
}
.nev{
    width: 900px;
    height: 200px;
    margin: 0 auto;
    background: url()no-repeat;
    padding: 40px 0 0 40px ;
}
.nev span{
    margin-left: 50px;
    font-family: "楷体";

}
.nev #aa{
    margin-left: 300px;
}
.b{
    width: 980px;
    height: 400px;
    background: url() 10px no-repeat;
    margin: 0 auto;
    padding-top: 200px;
}
.b .bb{
    float: left;
    margin-left: 25px ;
}
.b h2{
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid gray;
    /* line-height: 10px; */
}
.b p{
    width: 290px;
    height: 100px;
    color: gray;
    font-size: 13px;
    padding-top: 10px;
}
.c{
    width: 900px;
    height: 290px;
    margin: 0 auto;
    background: url() no-repeat;
    padding-top: 180px;
}
.c .cc{
    width: 920px;
    height: 260px;
    margin: 0 auto;

}
.c img{
    margin-left: 60px;
}
.e{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: url()repeat-x;

}
.f{
    position: fixed;
    right: 10%;
    bottom: 10px;
}