*{
    list-style: none;
}
.a{
    width: 100%;
    height: 130px;
    background: url("../img/1/head_bg.jpg")repeat-x;
}
a{
    color: #fff;
    text-emphasis: none;
    font-weight: bold;
    text-decoration: none;
}
ul{
    width: 980px;
    margin: 0 auto;
}
ul li a{
    width: 120px;
    height: 90px;
    text-align: center;
    display: inline-block;
    line-height: 70px;

}
ul li a:hover{
    background: url(../img/1/xuanfu.png);
}
ul li{
    float: left;
}
.b{
    width: 980px;
    height: 370px;
    margin: 0 auto;
}
.b21{
    width: 980px;
    height: 370px;
    margin: 0 auto;
    background: brown;
    padding-top: 20px;
}